*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
header nav{
	display: none;
	padding: 10px 0;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
		align-items: center
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}


header .form{
	background-color: #FFF;
	border: none;
	height: 30px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between
	
}
header .form .input{
  border: none;
    outline: none;
    color: #666;
    padding: 2px;
		max-width: 140px;
		
}
header .form .lupa{
    background-color: #FFF;
   

	
}
div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.register{
	display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
max-width: 1000px;
}
.register input, label, radio, select, button{
	margin: 10px 5px;
	padding: 5px ;
	border-radius: 4px;
	border:none;
}
button{
	min-width: 100px;
	justify-content: center;
	border: solid 1px #666;
	background-color: #0044AA;
	color: white;
}
.radio{
	display: flex;
	align-items: center
}
.check{
	display: flex;
	flex-direction: column;
}

footer{
	background-color: #fff;
	padding: 15px;
}
footer .icono{
	color:  #1259c3;
	width: 2em;
	margin: 10px;
}
footer section{
	text-align: center;
	padding: 10px 30px;
}

@media (min-width: 361px){
	header nav{
	display:block;
}
header div.logo,
header .form{
    width: 30%;
}
div.top-header{
    display: flex;    
		flex-wrap: wrap;
    justify-content: space-between;
		align-items: center;
}
.compraCuotas{
	font-size: 13px;
}
header nav ul .nav_left{
	display: flex;
justify-content: flex-start;
}
header nav ul .nav_rigth{
	display: flex;
justify-content:  flex-end;
}
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

		div.burger-menu{
			display: none;
		}

		.main-navbar{
		display:flex;
		justify-content: space-between;
	}
	.main-navbar ul{
		display:flex;
	}
	.main-navbar li{
		margin: 0 5px;
	}
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
		.compraCuotas{
	font-size: 18px;
}
.main-navbar{
	font-size: 18px;
}
}